@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

@font-face {
    font-family: 'MiFuenteLocal';
    src: url('fonts/Rubik80sFade-Regular.ttf') format('truetype');
   
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: Arial, sans-serif; 
    background-color: #f4f7f6; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}


header {
    background-color: #3b5998; 
    color: white;
    text-align: center;
    padding: 20px 10px;
    width: 100%; 
}

header h1 {
    margin: 0;
    font-size: 2em;
}


.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); 
    max-width: 800px; 
    width: 90%; 
    padding: 30px 40px;
    margin-top: 30px;
}

section {
    margin-bottom: 25px; 
    border-bottom: 1px solid #eee; 
    padding-bottom: 20px;
}

section:last-of-type {
    border-bottom: none; 
}

h2 {
    color: #333;
    font-size: 2em;
    margin-top: 0;
}

p {
    color: #555; 
    line-height: 1.6;
    font-size: 2em;
}

.fuente-sistema p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.fuente-local p {
    
    font-family: 'MiFuenteLocal', sans-serif; 
}


.fuente-google h2 {
    text-transform: uppercase; 
}

.fuente-google p {
   
    font-family: 'Caesar Dressing', cursive;
    text-transform: uppercase;
    font-size: 2em;
    color: #444;
}


footer {
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    color: #888;
}